.nav_bar {
    height: 84px;
    background-color: rgb(22, 22, 22);
    display: flex;
}

.nav_bar ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 0 0;
    position: absolute;
    width: 50%;
    padding: 0;
    text-align: center;
    line-height: 350%;
}

.nav_bar ul li a {
    text-decoration: none;
    color: rgb(241, 238, 233);

}

.nav_bar ul li a:hover {
    color: rgb(224, 77, 1);
    transition: 250ms;
}

.nav_bar ul li img {
    width: 150px;
    height: auto;
}



.account {
    display: flex;
    position: absolute;
    height: 84px;
    right: 30px;
}

.account p a {
    text-decoration: none;
    color: rgb(241, 238, 233);
}

.account p a:hover {
    color: rgb(224, 77, 1);
    transition: 250ms;
}




