/*body {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*[>overflow: hidden;<]*/
/*}*/

/*img {*/
    /*width: 100%;*/
    /*height: auto;*/
    
    
/*}*/

/*h1 {*/
    /*text-align: left;*/
/*}*/

/*p {*/
    /*font-size: 20px;   */
/*}*/


/*[>Logo<]*/
/*#logo-container {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/

body {
    /*background-color: lightgray;*/
    margin: 0 0 0 0;
    font: 22px/1.2 "Roboto", sans-serif;
    color: #333;
    position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
}

#root {
    width: 100%;
    max-width: 100%;
    background-color: #f6ab60;
}  

.container {
    width: 75%;
    height: auto;
    min-height: 1200px;
}

