.container {
    margin: 0 auto;
    width: 900px;
    text-align: center;
}

.nav__bar {
    overflow: hidden;
    background-color: #91453B;
    font-family: "Josefin Sans", sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}

.nav__bar a {
    text-align: center;
    float: left;
    color: black;
    padding: 13px 15px;
    text-decoration: none;
    font-size: 22px;
    padding: 40px;
}

.nav__bar a:hover {
    color: #AD685C;
    background-color: #0B0518;
    padding: 18px 20px;
}

.main {
    position: relative;
    text-align: center;
    top: 18px;
    bottom: 200px;
}

.leadbrd__h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 75px;
    color: transparent;
    background: conic-gradient(#1B273F 12%, #282A3F 12%,
            #342E3E 33%, #41313E 33%,
            #4E343D 55%, #5A383D 55%,
            #673B3C 71%, #743E3C 71%,
            #82403B 88%, #8F443B 88%);
    background-size: 70%;
    background-clip: text;
    -webkit-background-clip: text;

    animation: expand-reverse 0.5s ease forwards;
}

.leadbrd__h1:hover {
    animation: expand 0.5s ease forwards;
}

@keyframes expand {
    0% {
        background-size: 50%;
        background-position: 0 0;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 325%;
        background-position: -10em -4em;
    }
}

@keyframes expand-reverse {
    0% {
        background-size: 325%;
        background-position: -10em -4em;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 50%;
        background-position: 0 0;
    }
}

.section {
    border-top: 5px solid #252F55;
}