ul {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}


.main {
    text-align: center;
}

.leadbrd {
    margin-top: 200px;
    margin-bottom: 150px;
    background: linear-gradient(to bottom, #e1dddd, #e1d9da, #b0b3aa);
    width: 950px;
    height: auto;
    border-radius: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    top: 370px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.leadbrd .top {
    padding: 20px 18px;
    color: rgb(22, 22, 22);
    font-size: 22px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.leadbrd .top h1 {
    display: inline-block;
    margin-left: 4px;
}

.leadbrd .ppl {
    color: rgb(22, 22, 22);
    /*rgb(197, 193, 193);*/
    font-size: 20px;
}

.leadbrd ol {
    counter-reset: number;
}

.leadbrd li {
    padding: 16px;
    display: flex;
    border-radius: 15px;
}

.leadbrd li mark {
    flex-grow: 2;
    color: rgb(22, 22, 22);
    background-color: transparent;
}

.leadbrd li:before {
    counter-increment: number;
    content: "#" "" counter(number);
    margin-right: 4px;
}

.leadbrd li:nth-child(1) {
    background: linear-gradient(to right, #FF843E, #161616);
}

.leadbrd li:nth-child(2) {
    background: linear-gradient(to right, #FD813B, #161616);
}

.leadbrd li:nth-child(3) {
    background: linear-gradient(to right, #FB7F39, #161616);
}

.leadbrd li:nth-child(4) {
    background: linear-gradient(to right, #F97C36, #161616);
}

.leadbrd li:nth-child(5) {
    background: linear-gradient(to right, #F77934, #161616);
}

.leadbrd li:nth-child(6) {
    background: linear-gradient(to right, #F47731, #161616);
}

.leadbrd li:nth-child(7) {
    background: linear-gradient(to right, #F2742F, #161616);
}

.leadbrd li:nth-child(8) {
    background: linear-gradient(to right, #F0712C, #161616);
}

.leadbrd li:nth-child(9) {
    background: linear-gradient(to right, #EE6F2A, #161616);
}

.leadbrd li:nth-child(10) {
    background: linear-gradient(to right, #EC6C27, #161616);
}

.you {
    color: rgb(22, 22, 22);
    font-family: 'Inconsolata', monospace;
}

.one {
    display: flex;
    margin-left: 34px;
}

.fade-in-list {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        position: static;
        left: -10px;
        opacity: 0;
    }

    59% {
        position: static;
        left: -10px;
        opacity: 20%;
    }

    60% {
        position: relative;
        left: -10px;
        opacity: 0;
    }

    70% {
        position: relative;
        left: -10%;
        opacity: 0;
    }

    80% {
        position: relative;
        left: 20%;
        opacity: 0;
    }

    100% {
        position: static;
        left: 10%;
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    .section {
        width: 100%;
        display: block;
    }

    .leadbrd {
        width: 100%;
        display: block;
    }
}