.footer {
    display: flex;
    height: 84px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(22, 22, 22);
    
    line-height: 84px;
    color:rgb(241, 238, 233);

    padding-left: 75px;

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}



.copyright {
    margin-top: -22px;
}

.copyright p {
    margin-bottom: 0;
}



.about-us {
    margin-top: -22px;
    right: 30px;
    position: absolute;
}

.about-us p {
    margin-bottom: 0;
}

.about-us p a {
    text-decoration: none;
    color: rgb(241, 238, 233);
}

.about-us p a:hover {
    color: rgb(224, 77, 1);
    transition: 250ms;
}
